/* our variables */
$color1: #edf7fc;
$color2: #78a8c9;
$color3: #6098bf;
$color4: #5086ab;
$color5: #007cbf;
$color6: #0a66a3;
$codeblockBackground: #fafafa;

/* bootstrap override */
$bodyBackground: #fff;
$textColor: #555;
$baseFontFamily: tahoma, arial, sans-serif;

/* TODO should we use compass_twitter_bootstrap_responsive ? */
@import "compass_twitter_bootstrap";
@import "../bower_components/gs-ui-infra/app/styles/main";
@import "../bower_components/unsemantic/assets/sass/unsemantic-grid-base";
@import "../bower_components/unsemantic/assets/sass/unsemantic-grid-responsive";

/* Includes */
@import './blueprintArrows';
@import './pieProgress';


/* mixins */
@mixin roundBorder($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* helpers */
.right-text {
  text-align: right;
}

/* baseline */
h1, h2, h3, h4, h5, h6 {
  margin: .8em 0 .2em;
  color: $color6;
}

dl {
  dt {
    margin: .4em 0;
    font-weight: normal;
    font-style: italic;
    color: $color6;
    code {
      padding: .3em .4em .2em;
      font-style: normal;
      color: $color6;
    }
  }
  dd {
    margin: .4em 0 .8em 1.2em;
  }
}

/* custom */
header {
  height: 180px; /* TODO don't use explicit height, this will cause content overflow on narrow layouts */
  padding: 3em;
  text-align: center;
  background-color: $color6;
  h1 {
    font-size: 4em;
    margin-bottom: .4em;
    color: #fff;
  }
  h2 {
    font-size: 1.1em;
    color: $color1;
  }
}

footer {
  height: 60px;
  padding: 1.2em;
  color: $color1;
  background-color: $color2;
}

.getting-started {
  padding: 1.5em 0 3.5em;
  color: $color6;
  background-color: $color1;
  box-shadow: 0 0 16px $textColor;
  h2 {
    font-size: 1.7em;
  }
}

section {
  &.directives,
  &.filters {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.component {
  padding-top: 1em;
  h3+hr {
    margin-top: 0;
  }
  .controls {
    label {
      width: 30%;
      margin-right: 1em;
      line-height: 2;
      clear: left;
    }
    label, label+input {
      float: left;
    }
    input[type='number'] {
      width: 64px;
    }
    button {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &#topology {
    .demo,
    .CodeMirror {
      height: 550px;
    }
    .CodeMirror {
      @include roundBorder(4px);
      border: 1px solid #ddd;
      background-color: #fafafa;
    }
    button {
      margin: .5em 0 .8em .8em;
    }
  }
  &#i18n {
    .demo {
      margin-top: 1em;
      padding: .7em 1.4em;
      border: 1px solid $color2;
      background-color: $color1;
      font-style: italic;
    }
  }
  &#pieCharts {
    .demo {
      padding: 1em;
      svg {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

pre.codeblock {
  margin: 8px auto;
  overflow: auto;
  background-color: $codeblockBackground;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rainbow {
  /* fixing conflict with bootstrap .close rule */
  .close {
    float: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-shadow: inherit;
    opacity: inherit;
    filter: inherit;
  }
}

.tab-pane {
  .codeblock {
    margin-top: 0;
    height: 140px;
  }
}
