<div id="blueprintArrows" class="component grid-100" ng-controller="BlueprintarrowsCtrl">
    <h3 class="heading grid-100">Blueprint Arrows</h3>
    <hr/>
    <div class="grid-50">
        <div class="demo">
            <div class="grid-container">
                <div class="area">
                    <div class="bpContainer" droppable dropComplete="dropend()" dropOver="dropstart()">
                        <div class="coordinates" blueprint:arrows="coordinates" color="#666" arrow="true" storke="2"></div>
                        <div class="circle" ng-style="circle" data-ng-repeat="(elementid, circle) in circles" blueprint:coordinate draggable="true"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="controls grid-100">
            <button class="btn btn-info pull-right" ng-click="Shuffle()">Shuffle</button>
        </div>
    </div>
    <div class="description grid-50">
        <h4>Options</h4>
        <dl>
            <dt><code>blueprint:arrows</code> array</dt>
            <dd>
                Assign the coordinates of X,Y of each source and target elements (in this case, the circles).
            </dd>
            <dt><code>colors</code> string</dt>
            <dd>
                RGB or HEX color.
            </dd>
            <dt><code>arrow</code> boolean</dt>
            <dd>
                Choose if to display the arrow head.
            </dd>
            <dt><code>storke</code> number</dt>
            <dd>
                Size of the line by pixels
            </dd>
        </dl>
        <h4>Dependencies</h4>
        <div codeblock language="language.html">&lt;script src="bower_components/d3/d3.min.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/gs-ui-infra/app/scripts/directives/blueprintArrows.js"&gt;&lt;/script&gt;</div>
    </div>
    <hr class="grid-100"/>
    <div class="source grid-100">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                <div codeblock language="tab.language" source="tab.content"></div>
            </tab>
        </tabset>
    </div>
</div>