<div id="pieCharts" class="component grid-100" ng-controller="GsPieChartCtrl">
    <h3 class="heading grid-100">Pie Chart</h3>
    <hr/>
    <div class="grid-50">
        <div class="demo">
            <div gs-pie-chart ng-model="chartData"></div>
        </div>
        <hr/>
        <div class="controls grid-100">
            <label>Count</label>
            <input type="number" step="1" min="5" max="30"
                   ng-model="count"/>
            <button class="btn btn-info pull-right" ng-click="changeData()">Change Data</button>
        </div>
    </div>
    <div class="description grid-50">
        <h4>Options</h4>
        <dl>
            <dt><code>ng-model</code> number[]</dt>
            <dd>
                The data for the pie chart in a list of numbers
            </dd>
        </dl>
        <h4>Dependencies</h4>
        <div codeblock language="language.html">&lt;script src="bower_components/d3/d3.min.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/gs-ui-infra/app/scripts/directives/gsPieChart.js"&gt;&lt;/script&gt;</div>
    </div>
    <hr class="grid-100"/>
    <div class="source grid-100">
<!--
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                <div codeblock language="tab.language" source="tab.content"></div>
            </tab>
        </tabset>
-->
    </div>
</div>