<!-- TODO turn into template/directive for each component -->
<div id="i18n" class="component grid-100" ng-controller="I18nCtrl">
    <h3 class="heading grid-100">I18N</h3>
    <hr/>
    <div class="grid-50">
        <div class="demo">
            <div class="grid-container">
                <h4>{{ 'title' | i18n }}</h4>
                <p>{{ 'paragraph' | i18n }}</p>
            </div>
        </div>
        <hr/>
        <div class="controls grid-100">
            <span class="pull-right">
                <button class="btn btn-info"
                        ng-repeat="t in translations"
                        ng-click="translate(t.lng)">{{ t.title }}</button>
            </span>
        </div>
    </div>
    <div class="description grid-50">
        <h4>How to use it</h4>
        <ul>
            <li>Include translation files for each of the desired locales, with the appropriate keys. The files should
                reside under <code>[web oot context]/i18n</code> (<code>app/i18n</code> for yeonam projects), and follow
                the below naming convention:
                <ul>
                    <li>
                        <code>constants_[locale].json</code> for constants.
                    </li>
                    <li>
                        <code>messages_[locale].json</code> for messages (allows for variable injection).
                    </li>
                </ul>
                The translation files format is as follows:
                <div codeblock source="translationFile.code" language="translationFile.language"></div>
                where keys are used as placeholders in the views and templates, and values are the translated
                permutations for each locale.
            </li>
        </ul>
        <h4>Dependencies</h4>
        <div codeblock language="language.html">&lt;script src="bower_components/i18next/release/i18next-1.7.1.min.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/gs-ui-infra/app/scripts/filters/i18n.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/gs-ui-infra/app/scripts/services/i18next.js"&gt;&lt;/script&gt;</div>
        <p><em>See the <a href="http://i18next.com/">I18Next website</a> for a reference on further configuration.</em></p>
    </div>
    <hr class="grid-100"/>
    <div class="source grid-100">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                <div codeblock language="tab.language" source="tab.content"></div>
            </tab>
        </tabset>
    </div>
</div>