<header>
    <hgroup class="grid-container">
        <h1>GS UI Components</h1>
        <h2>Reusable Components for the GigaSpaces Management Console</h2>
    </hgroup>
</header>

<div class="getting-started">
    <div class="grid-container">
        <h2>Getting Started</h2>

        <p>
            Use this library by adding it to your bower in 1 command

            <pre>bower install https://github.com/guy-mograbi-at-gigaspaces/gs-ui-infra.git --save</pre>
            You may refer to a specific tag / version by appending it to the url for example
            <pre>bower install https://github.com/guy-mograbi-at-gigaspaces/gs-ui-infra.git~0.1 --save</pre>

            and then run
            <code>bower install</code>

        </p>

        <h3>Dependencies</h3>

        <p>
            This library depends heavily on <span ng-repeat="i in ['AngularJS', 'D3']"><label>{{i}}</label></span>.
        </p>
    </div>
</div>

<div class="grid-container">

    <div ng-include="'views/_blueprintArrows.html'"></div>
    <div ng-include="'views/_gauge.html'" ></div>
    <!--<div ng-include="'views/_blueprint.html'" ></div>-->
    <div ng-include="'views/_gsPieChart.html'"></div>

    <!-- topology end -->

</div>

<footer>
    <div class="grid-container">
        <p class="right-text">
            behold, i am the page footer
        </p>
    </div>
</footer>