<header>
    <hgroup class="grid-container">
        <h1>GS UI Components</h1>
        <h2>Reusable Components for the GigaSpaces Management Console</h2>
    </hgroup>
</header>

<div class="getting-started">
    <div class="grid-container">

        <h1>Getting Started</h1>

        <h2>Dependencies</h2>
        <p>
            This library relies on <span ng-repeat="d in dependencies"><span ng-show="$middle">, </span><span ng-show="$last"> and
            </span><a href="{{d.link}}">{{ d.name }}</a></span> for its various components. Additional dependencies are
            required per component. Add them as necessary.
        </p>

        <h2>Installation</h2>
        <p>
            Use this library by adding it to your bower with this command:
            <pre>bower install https://github.com/guy-mograbi-at-gigaspaces/gs-ui-infra.git --save</pre>
        </p>
        <p>
            You may refer to a specific tag / version by appending it to the URL, for example:
            <pre>bower install https://github.com/guy-mograbi-at-gigaspaces/gs-ui-infra.git~0.1 --save</pre>
        </p>
        <p>
            You can also update <code>bower.json</code> to include the library's entry:
            <div codeblock language="language.javascript">{
    "dependencies": {
        ...
        "gs-ui-infra": "git://github.com/guy-mograbi-at-gigaspaces/gs-ui-infra.git"
    }
}</div>
        </p>
        <p>
            &hellip; and then run:
            <pre>bower install</pre>
        </p>

        <h2>Setup</h2>
        <p>
            Include the library's module in your app dependencies:
        <div codeblock language="language.javascript">angular.module('myApp', ['gsUiInfraApp'])</div>
        </p>
        <p>
            Load the main module in your <code>index.html</code>:
        <div codeblock language="language.html">&lt;script src="bower_components/gs-ui-infra/app/scripts/app.js"&gt;&lt;/script&gt;</div>
        </p>

    </div>
</div>

<section class="directives grid-container">

    <h2>Directives</h2>
    <div ng-include="'views/_multiBarChart.html'"></div>
    <div ng-include="'views/_stackChart.html'"></div>
    <div ng-include="'views/_lineChart.html'"></div>
    <div ng-include="'views/_barChart.html'"></div>
    <div ng-include="'views/_pieProgress.html'"></div>
    <div ng-include="'views/_gauge.html'"></div>
    <div ng-include="'views/_blueprintArrows.html'"></div>
    <!--<div ng-include="'views/_blueprint.html'" ></div>-->
    <div ng-include="'views/_gsPieChart.html'"></div>
</section>

<section class="filters grid-container">
    <h2>Filters</h2>
    <div ng-include="'views/_i18n.html'"></div>
</section>

<footer>
    <div class="grid-container">
        <p class="right-text">
            behold, i am the page footer
        </p>
    </div>
</footer>